*.idea/*
build/
.gradle/*
*/.gradle/*
local.properties
*.iml
*.gpg
*.DS_STORE

# IntelliJ Code Styles
!/.idea/codeStyles/

# moko-resources-generated
kamel-tests/webpack.config.d/moko-resources-generated.js
kamel-tests/karma.config.d/moko-resources-generated.js
kamel-samples/webpack.config.d/moko-resources-generated.js
kamel-samples/karma.config.d/moko-resources-generated.js
